/* remove the margins and paddings */
* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #10316b;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  color: #fff;
  font-size: 100px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  margin: 20px;
}

.container {
  margin-top: 80px;
}

.difficulty {
  background-color: gray;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: #fff;
  margin: 50px auto;
  border-radius: 16px;
  padding: 20px;
  width: 200px;
}

#phase1:hover {
  background-color: #064acb;
}

#phase2:hover {
  background-color: #8f1d14
}

#phase3:hover {
  background-color: #553c8b;
}
